body {
    background-color: #F7F7F7;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
     margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    color: #8B4513;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(20, 87, 34);
    border: 10px solid #256d43;
    /*
    border-top: 10px solid #256d43;
    border-bottom: 10px solid #256d43;
    */

    .Logo {
        border-right: 10px solid #256d43;
    }

    .nav-links {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 5px;
        width: 90%;

        a {
            display: flex;
            font-weight: 1000;
            background-color: rgb(245, 140, 54);
            /*rgb(183, 207, 184) más claro */
            color: #70360d;
            border: 5px solid rgb(201, 109, 34);
            padding: 20px;
            border-radius: 20px;


        }

        a:hover {
            background-color: #eb5600;
            color: white;
        }

    }

    .nav-user-links {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 5px;
        width: 40%;

        .nav-user-link {
            display: flex;
            font-weight: 1000;
            background-color: rgb(245, 140, 54);
            /*rgb(183, 207, 184) más claro */
            color: #70360d;
            border: 5px solid rgb(201, 109, 34);
            padding: 10px;
            border-radius: 15px;
            text-align: center;
            width: 80px;


        }

        .nav-user-link:hover {
            background-color: #eb5600;
            color: white;
        }

    }

}

.hero {
    background-color: white;
    background-size: cover;
    height: 450px;
    width: 100%;

    .hero_espaciado {
        background-color: rgb(64, 206, 94);
        border-right: 10px solid #256d43;
        border-left: 10px solid #256d43;
        border-bottom: 10px solid #256d43;
        height: 25px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        background-image: url("/assets/img/hojas.png");
        background-repeat: repeat-x;
        background-size: auto 100%;
    }

    .hero_content {
        display: flex;
        height: 550px;

        .hero_content_image {
            border-right: 10px solid #256d43;
            border-left: 10px solid #256d43;
            border-bottom: 10px solid #256d43;
            width: 50%;
            background-color: white;
        }

        .hero_content_detalle {
            width: 50%;
            padding: 20px;
            display: flex;
            flex: 1;
            flex-direction: column;
            border-right: 10px solid #256d43;
            border-bottom: 10px solid #256d43;
            background-color: white;

            .hero_content_detalle_desc {
                .desc_titulo {
                    font-size: 25px;
                    text-align: center;
                }

                .desc_resto {
                    font-size: 20px;
                    justify-content: center;
                }

            }

            .hero_content_detalle_botones {
                display: flex;
                justify-content: center;
                gap: 15px;
                

                .detalle_button {
                    padding: 12px 25px;
                    border-radius: 8px;
                    border: none;
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 16px;
                    color: white;
                }

            }

        }

    }

}

